---
layout: default
---
<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }
    .sidebar {
        height: 100%;
        width: 300px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #333;
        padding-top: 20px;
    }
    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
        background-color: #ccc; /* Placeholder color */
    }
    .social-links {
        margin-top: 20px;
        text-align: center;
    }
    .social-links a {
        display: block;
        color: #fff;
        text-decoration: none;
        margin-bottom: 10px;
    }
</style>

<div class="columns is-vcentered">
    <!--div class="column is-one-quarter content">
        <figure class="image">
          <img src={{site.logo}} width="200" height="300">
        </figure>
    </div-->
    <div class="sidebar">
        <img class="avatar" src={{site.logo}} alt="Avatar">
        <h3>{{ site.title }}</h3>
        <h3>{{ site.location }}</h3>
        <div class="social-links">
            <a href="#">{{site.author.twitter}}</a>
            <a href="#">{{site.author.github}}</a>
        </div>
    </div>

  <!--div class="column is-three-quarters content">
    <h2> Hi There! </h2>
    I am Eya Cherif, a PhD student at Leipzig University. I am passionate about using artificial intelligence as a tool to tackle challenges for environmental applications and in my current research I am working at the interface of Deep Learning and biodiversity monitoring.
  </div-->
  
  <div class="column is-three-quarters content">
    <h2>Hi There!</h2>
    {% capture description %}{% include description.md %}{% endcapture %}
    {{ description | markdownify }}
    
    <h2>Publications</h2>
    {% assign publications = site.data.publications | sort: 'year' | reverse %} {% for item in site.data.publications %} {% include publication-item.html %} {% endfor %}
  </div>
</div>

