---
layout: default
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-XibExTuI0GI+9hzmt6HNVl6d5FoWCfTB5Qe+2rtIY9r7e+DdPZHHJrINvCXJdQp03LeJtYO2DuQu7xYJvxDc3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }
    .sidebar {
        height: 100%;
        width: 300px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #425469;
        padding-top: 20px;
    }
    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 60%;
        margin: 0 auto;
        display: block;
        background-color: #ccc; /* Placeholder color */
    }
    .social-links {
        margin-top: 20px;
        text-align: center;
    }
    .social-links a {
        display: block;
        color: #fff;
        text-decoration: none;
        margin-bottom: 10px;
    }
</style>

<div class="columns is-vcentered">
    <!--div class="column is-one-quarter content">
        <figure class="image">
          <img src={{site.logo}} width="200" height="300">
        </figure>
    </div-->
    
    <div class="sidebar">
        <img class="avatar" src={{site.logo}} alt="Avatar">
        <div class="social-links">
            <a style="font-size: 30px;">{{ site.title }}</a>
            <a style="font-size: 12px;">{{ site.author.location }}</a>
            <a href="https://twitter.com/Eya__Cherif", style="font-size: 12px;" >Twitter</a>
            <a href="https://github.com/echerif18", style="font-size: 12px;">Github</a>
            <a href="mailto:site.author.email", style="font-size: 12px;">Email</a>
            <a href="site.author.googlescholar", style="font-size: 12px;">Gscholar</a>
            <a href="site.author.researchgate", style="font-size: 12px;">ResearchGate</a>
            
        </div>
    </div>

  <!--div class="column is-three-quarters content">
    <h2> Hi There! </h2>
    I am Eya Cherif, a PhD student at Leipzig University. I am passionate about using artificial intelligence as a tool to tackle challenges for environmental applications and in my current research I am working at the interface of Deep Learning and biodiversity monitoring.
  </div-->
  
  <div class="column is-three-quarters content">
    <h2>Hi There!</h2>
    {% capture description %}{% include description.md %}{% endcapture %}
    {{ description | markdownify }}
    
    <h2>Publications</h2>
    {% assign publications = site.data.publications | sort: 'year' | reverse %} {% for item in site.data.publications %} {% include publication-item.html %} {% endfor %}

    {% capture taks %}{% include talks.md %}{% endcapture %}
    {{ taks | markdownify }}
  </div>
</div>

